{% extends 'base.html' %}
{% load tags_contacts %}

{% block title %}Contacts{% endblock  %}

{% block content %}
    <h3>My contacts</h3>
    {% for company in companies %}
        <p class="company-item">{{ company.name }}</p>
        {% form_add_contact_member company.name %}
        {% for contact in contacts %}
            {% if contact.company == company %}
                <p class="contact-item">{{ contact.last_name }}</p>
            {% endif %}
        {% endfor %}
    {% endfor %}

    {% form_add_company user %}

{% endblock  %}