{% extends 'base.html' %}
{% load tags_contacts %}

{% block title %}Contacts{% endblock  %}

{% block content %}
    <h3>My contacts</h3>

    <!-- List companies -->
    <!-- TODO : Convert in Bootstrap cards -->
    <h5>Companies</h5>
    <ul class="list-companies">
    {% for company in companies %}
        <li class="company-item">{{ company.name }}</li>
        
        <!-- List contact members -->
        <h5>Contacts</h5>
        <ul class="list-contact_members">
        {% for contact in contacts %}
            {% if contact.company == company %}
                <li class="contact-item">{{ contact.first_name }} {{ contact.last_name }}</li>
            {% endif %}
        {% endfor %}
        </ul>

        <!-- List missions -->
        <h5>Missions</h5>
        <ul class="list-missions">
        {% for mission in missions %}
            {% if mission.company == company %}
                <li class="mission-item">{{ mission.title }}</li>
                {% form_delete_mission mission.title company.pk user %}
            {% endif %}
        {% endfor %}
        </ul>

    {% endfor %}
    </ul>

    <!-- Form add company -->
    <h5>Add company</h5>
    {% form_add_company user %}
    
    <!-- Form add contact_member -->
    <h5>Add contact_member</h5>
    {% form_add_contact_member %}

    <!-- Form add mission -->
    <h5>Add mission</h5>
    {% form_add_mission user %}

{% endblock  %}