.col-contact {
    height: 40em;
}

.bg-lightblue {
    background-color: rgb(173, 216, 230);
}

.card-company {
    height: 100%;
}

.card-company-body {
    height: 89%;
    display: flex;
    flex-flow: column;
}

.card-company-title, .card-company-title:hover {
    height: 15%;
    flex: 0 1 auto;
    color: black;
    text-decoration: none;
}

.card-company-hover {
    background-color: rgb(212,235,242) !important;
}

.card-company-infos {
    overflow: auto;
    flex: 0 1 auto;
}

.card-company-contacts {
    overflow: auto;
    flex: 1 1 auto;
}

.card-company-fill {
    overflow: hidden;
    flex: 0 1 auto;
}

.card-company-footer {
    height: 10%;
}

.contact-item {
    color: unset !important;
    text-decoration: unset !important;
}

.contact-item:hover {
    color: unset !important;
    text-decoration: unset !important;
}

.contact-card-hover {
    filter: brightness(0.9);
}

.contact-infos {
    font-size: 0.8rem;
}

.company-text, .company-type {
    font-size: 0.9rem;
}

.modal-contact {
    height: 40rem;
}

.modal-contact .modal-dialog, .modal-contact .modal-content, .form-contact {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.contact-modal-header {
    height: 40%;
}

.contact-modal-header .modal-title {
    height: 100%;
}

.contact-modal-div {
    height: 45%;
}

.modal-contact-infos {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 0 1 auto;
}

.modal-contact-form-edit {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 1 auto;
}

.modal-contact-fill {
    overflow: hidden;
    flex: 0 1 auto;
}

.modal-contact-footer {
    height: 15%;
    justify-content: unset;
}

.contact-company,
.contact-company:disabled,
.contact-company:focus,
.select-company-type,
.select-company-type:disabled,
.select-company-type:focus {
    font-size: 0.8rem;
    background-color: transparent;
    color: inherit;
    border: unset;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.contact-company,
.contact-company:disabled,
.contact-company:focus {
    text-align-last: center;
}
.select-company-type,
.select-company-type:disabled,
.select-company-type:focus {
    text-align-last: left;
}

.contact-company:disabled,
.select-company-type:disabled {
    appearance: none;
}

.close-contact {
    position: absolute;
    top: 3%;
    right: 4%;
}

.company-select-business {
    list-style: none;
}

.company-select-business li {
    display: block;
    width: 50%;
    float: left;
}