.col-contact {
    height: 40em;
}

.bg-lighblue {
    background-color: rgb(173, 216, 230);
}

.card-company {
    height: 100%;
}

.card-company-body {
    height: 89%;
    display: flex;
    flex-flow: column;
}

.card-company-title {
    height: 15%;
    flex: 0 1 auto;
}

.card-company-infos {
    overflow: auto;
    flex: 0 1 auto;
}

.card-company-contacts {
    overflow: auto;
    flex: 1 1 auto;
}

.card-company-fill {
    overflow: hidden;
    flex: 0 1 auto;
}

.card-company-footer {
    height: 10%;
}

.contact-item {
    color: unset !important;
    text-decoration: unset !important;
}

.contact-item:hover {
    color: unset !important;
    text-decoration: unset !important;
}

.contact-card-hover {
    filter: brightness(0.9);
}

.contact-infos {
    font-size: 0.8rem;
}

.company-text, .company-type {
    font-size: 0.9rem;
}