{% load static %}
{% load tags_contacts %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>MyJOB - {% block title %}base{% endblock %}</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/leftbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/modal.css' %}">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>

    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>

    <!-- BOOTSTRAP -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- FontAwesome Free -->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    <!-- main.js -->
    <script src="{% static 'base/js/main.js' %}"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>

    {% block meta %}{% endblock  %}

</head>

<body>

    <header>
        <div class="header-topbar">
            <div class="header-logo">
                <a class="header-logo-link" href="{% url 'home' %}">
                    <i class="fas fa-briefcase fa-lg pr-1 bar-icon"></i>
                    <span class="text-icon ml-2">MyJOB</span>
                </a>
            </div>
            <div class="header-title">
                <h2>{% block app_title %}{% endblock %}</h2>
            </div> <!-- App title -->
            <div class="header-search">
                <input type="text" name="header_searchbar" class="header-searchbar form-control" placeholder="Search..." />
                <button class="btn-reset btn-search" name="btn_searchbar"><i class="fas fa-search"></i></button>
            </div>
            <a href="#" class="header-profile">
                <div class="header-profile-items">
                    <i class="far fa-user-circle fa-2x pr-2"></i>
                    <div class="header-username">{{ user.username }}</div>
                </div>
            </a>
        </div> <!-- Top row -->
    </header>

    <main>

        <div class="container-fluid main_page">
            <nav class='leftbar show-leftbar leftbar-hidden h-100'>
                <ul class="nav navbar-nav mt-5">
                    <li class="nav-item {% if active_page == 'dashboard' %}active{% endif %}">
                        <a href="{% url 'home' %}" class="nav-link">
                            <i class="fas fa-columns fa-lg mr-2 bar-icon"></i>
                            <span class="text-icon text-icon-leftbar text-icon-hidden">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-calendar-alt fa-lg mr-2 bar-icon"></i>
                            <span class="text-icon text-icon-leftbar text-icon-hidden">Agenda</span>
                        </a>
                    </li>
                    <li class="nav-item {% if active_page == 'appliances' %}active{% endif %}">
                        <a href="{% url 'appliances_home' %}" class="nav-link">
                            <i class="fas fa-chart-bar fa-lg mr-2 bar-icon"></i>
                            <span class="text-icon text-icon-leftbar text-icon-hidden">Appliances</span>
                        </a>
                    </li>
                    <li class="nav-item {% if active_page == 'contacts' %}active{% endif %}">
                        <a href="{% url 'contacts_home' %}" class="nav-link">
                            <i class="fas fa-users fa-lg mr-2 bar-icon"></i>
                            <span class="text-icon text-icon-leftbar text-icon-hidden">Contacts</span>
                        </a>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item footer-btn-leftbar show-leftbar show-add-btn align-items-center">
                            <!-- dropup button -->
                            <div class="nav-link">
                                <i class="fas fa-plus-circle fa-lg mr-2 bar-icon"></i>
                                <span class="text-icon text-icon-leftbar text-icon-hidden">Add</span>
                            </div>
                        </li>
                        <div class="add-button-group add-button-group-hidden show-leftbar show-add-btn">
                            <div class="container-fluid p-0">
                                <button type="button" class="row row-add-btn btn-reset add-btn-item" data-toggle="modal" data-target="#modal_company">new company</button>
                                <button type="button" class="row row-add-btn btn-reset add-btn-item" data-toggle="modal" data-target="#modal_contact_None">new contact</button>
                                <button type="button" class="row row-add-btn btn-reset add-btn-item" data-toggle="modal" data-target="#modal_mission_None">new mission</button>
                            </div>
                        </div>
                    {% endif %}
                </ul>
            </nav> <!-- Left bar -->
            <div class="row app-section app-section-left-hidden">
                <div class="container-fluid container-app">

                    <div class="row page-content">

                        {% block content %}
                        {% endblock %}
                        {% include 'base/messages.html' %}
                    </div> <!-- App content -->


                </div> <!-- Container app -->
            </div> <!-- App section -->

        </div> <!-- Page container -->
    </main>
</body>

<!-- Modal Company -->
{% form_add_company user %}

<!-- Modal contact_member -->
{% form_add_contact user %}

{% comment %} <!-- Form add mission -->
{% form_add_mission user %} {% endcomment %}

</html>

{% block scripts %}{% endblock %}