{% load static %}
{% load tags_contacts %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MyJOB - {% block title %}base{% endblock %}</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- FontAwesome Free -->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/modal.css' %}">

    <!-- main.js -->
    <script src="{% static 'base/js/main.js' %}"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>

    {% block meta %}{% endblock  %}

</head>

<body>

    <main>

        <div class="container-fluid main_page">
            <nav class='left-bar left-bar-hidden h-100'>
                <div class="logo mt-5">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <i class="fas fa-briefcase fa-lg pr-1"></i>
                        <span class="left-text-icon left-text-icon-hidden">MyJOB</span>
                    </a>
                </div>
                <ul class="nav navbar-nav mt-5">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link {% if active_page == 'dashboard' %}active{% endif %}">
                            <i class="fas fa-columns fa-lg pr-1"></i>
                            <span class="left-text-icon left-text-icon-hidden">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-calendar-alt fa-lg pr-1"></i>
                            <span class="left-text-icon left-text-icon-hidden">Agenda</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'appliances_home' %}" class="nav-link {% if active_page == 'appliances' %}active{% endif %}">
                            <i class="fas fa-chart-bar fa-lg pr-1"></i>
                            <span class="left-text-icon left-text-icon-hidden">Appliances</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'contacts_home' %}" class="nav-link {% if active_page == 'contacts' %}active{% endif %}">
                            <i class="fas fa-users fa-lg pr-1"></i>
                            <span class="left-text-icon left-text-icon-hidden">Contacts</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-chart-line fa-lg pr-1"></i>
                            <span class="left-text-icon left-text-icon-hidden">Stats</span>
                        </a>
                    </li>
                    <li class="nav-item left-footer-profile">
                        <a href="#" class="nav-link footer-profile">
                            <i class="fas fa-user-cog fa-lg pr-1"></i>
                            <span class="left-text-icon left-text-icon-hidden">MyProfile</span>
                        </a>
                    </li>
                </ul>
            </nav> <!-- Left bar -->
            <div class="row app-section app-section-left-hidden">
                <div class="container-fluid container-app">

                    <div class="row justify-content-between align-items-center top-row top-row-left-hidden">
                        <div class="col-8 app-title">
                            <h2>{% block app_title %}{% endblock %}</h2>
                        </div> <!-- App title -->
                        <div class="col-4 top-bar">
                            TOP BAR
                        </div> <!-- App title -->
                    </div> <!-- Top row -->

                    <div class="row page-content">

                        {% if request.user.is_authenticated %}
                            <!-- dropup button -->
                            <div class="btn-group dropup add-button">
                                <button type="button" class="btn btn-light btn-circle" id="dropupMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropupMenuButton">
                                    <!-- Dropdown menu links -->
                                    <button type="button" class="dropdown-item" data-toggle="modal" data-target="#modal_company">new company</button>
                                    <button type="button" class="dropdown-item" data-toggle="modal" data-target="#modal_contact_None">new contact</button>
                                    <button type="button" class="dropdown-item" data-toggle="modal" data-target="#modal_mission_None">new mission</button>
                                </div>
                            </div>
                        {% endif %}    

                        {% block content %}
                        {% endblock %}
                        {% include 'base/messages.html' %}
                    </div> <!-- App content -->


                </div> <!-- Container app -->
            </div> <!-- App section -->

        </div> <!-- Page container -->
    </main>
</body>

<!-- Modal Company -->
{% form_add_company user %}

<!-- Modal contact_member -->
{% form_add_contact user %}

{% comment %} <!-- Form add mission -->
{% form_add_mission user %} {% endcomment %}

</html>

{% block scripts %}{% endblock %}