.col-appliance {
    height: 40em;
}

.card-appliance {
    height: 100%;
}

.appliance-title-and-body {
    height: 85%;
}

.appliance-status, .appliance-status:focus {
    font-size: 0.8rem;
    background-color: transparent;
    color: inherit;
    border: unset;
    text-align-last: right;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.appliance-status option {
    color: rgb(33, 37, 41);
}

.appliance-status:hover, .appliance-status:focus {
    border: 1px solid;
    border-radius: .25rem;
}

.appliance-status-dropdown-toggle::after {
    content: none;
}

.card-appliance-title {
    height: 20%;
}

.card-appliance-infos {
    height: 25%;
}

.card-appliance-timeline {
    height: 55%;
}

.card-appliance-timeline .container,
.card-appliance-timeline .container .vertical-timeline {
    max-height: 100%;
    overflow: auto;
}

.card-appliance-footer {
    height: 14%;
}

.card-task:hover {
    background-color: rgba(33, 37, 41, 0.2);
}

.card-infos-title {
    height: 40%;
}

@media screen and (max-width: 768px) {
    .card-infos {
        font-size: 0.5rem !important;
        font-weight: bold;
    }
    .card-infos-title {
        font-size: 0.6rem !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .card-infos {
        font-size: 0.6rem !important;
        font-weight: bold;
    }
    .card-infos-title {
        font-size: 0.8rem !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1240px) {
    .card-infos {
        font-size: 0.6rem !important;
        font-weight: bold;
    }
    .card-infos-title {
        font-size: 0.8rem !important;
    }
}

@media screen and (min-width: 1240px) and (max-width: 1440px) {
    .card-infos {
        font-size: 0.8rem !important;
        font-weight: bold;
    }
    .card-infos-title {
        font-size: 1rem !important;
    }
}

@media screen and (min-width: 1440px) {
    .card-infos {
        font-size: 1rem !important;
        font-weight: bold;
    }
    .card-infos-title {
        font-size: 1.2rem !important;
    }
}