.col-appliance {
    max-height: 40em;
}

.card-appliance {
    height: 100%;
}

.appliance-title-and-body {
    height: 85%;
}

.appliance-status, .appliance-status:focus {
    font-size: 0.8rem;
    background-color: transparent;
    color: inherit;
    border: unset;
    text-align-last: right;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.appliance-status option {
    color: rgb(33, 37, 41);
}

.appliance-status:hover, .appliance-status:focus {
    border: 1px solid;
    border-radius: .25rem;
}

.appliance-status-dropdown-toggle::after {
    content: none;
}

.card-appliance-title {
    height: 20%;
}

.card-appliance-infos {
    height: 25%;
}

.card-appliance-timeline {
    height: 55%;
}

.card-appliance-timeline .container,
.card-appliance-timeline .container .vertical-timeline {
    max-height: 100%;
    overflow: auto;
}

.card-appliance-footer {
    height: 14%;
}

.card-task:hover {
    background-color: rgba(33, 37, 41, 0.2);
}