.col-appliance {
    max-height: 40em;
}

.card-appliance {
    height: 100%;
}
.appliance-modal-link {
    height: 85%;
}

.card-appliance-title {
    height: 20%;
}

.card-appliance-infos {
    height: 25%;
}

.card-appliance-timeline {
    height: 55%;
}

.card-appliance-timeline .container,
.card-appliance-timeline .container .vertical-timeline {
    max-height: 100%;
    overflow: auto;
}

.card-appliance-footer {
    height: 14%;
}