{% extends 'base/base.html' %}
{% load static %}
{% load tags_appliances %}

{% block title %}Appliances{% endblock  %}
{% block app_title %}My appliances{% endblock  %}

{% block meta %}

    <link rel="stylesheet" type="text/css" href="{% static 'appliances/css/appliances.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appliances/css/timeline.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appliances/css/details.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'appliances/css/checkbox_task.css' %}">

{% endblock  %}

{% block content %}

    <!-- List companies -->
    <!-- TODO : Convert in Bootstrap cards -->
    <div class="container-fluid">
        <div class="row">
            {% for appliance in appliances %}
                <div class="col-xl-4 col-md-6 col-sm-12 col-appliance mb-4">
                    <!-- Card Appliance -->
                    <div class="card card-appliance my-2 {% appliance_bg appliance %}">
                        <div class="appliance-title-and-body">
                        {% comment %} <a class="appliance-modal-link" href="#modal_appliance_{{ appliance.pk.value }}" data-toggle="modal"> {% endcomment %}
                            <div class="card-body card-appliance-title">
                                {% appliance_title appliance %}
                            </div>
                        {% comment %} <ul class="list-group list-group-flush card-missions">
                        {% for mission in missions %}
                            {% if mission.company == company %}
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-10 mission-item">{{ mission.title }}</div>
                                            <div class="col-2">{% form_delete_mission mission.title company.pk user %}</div>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul> {% endcomment %}

                            <div class="card-body bg-white text-dark card-appliance-infos">
                                <div class="container">
                                    <div class="row">

                                        {% card_task appliance %}

                                        <div class="col-4 card text-center">
                                            <div class="card-title card-infos-title">Average notation</div>
                                            <div class="card-body card-infos">
                                                <div class="row align-items-center justify-content-center">
                                                    {% if appliance.get_notation != 0 %}
                                                        {{ appliance.get_notation }}
                                                    {% else %}
                                                        N/A
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 card text-center">
                                            {% if appliance.proposed_salary != None %}
                                                <div class="card-title card-infos-title">Proposed salary</div>
                                                <div class="card-body card-infos">
                                                    <div class="row align-items-center justify-content-center">
                                                        {{ appliance.proposed_salary }} k
                                                    </div>
                                                </div>
                                            {% elif appliance.estimated_salary != None %}
                                                <div class="card-title card-infos-title">Estimated salary</div>
                                                <div class="card-body card-infos">
                                                    <div class="row align-items-center justify-content-center">
                                                        {{ appliance.estimated_salary }} k
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="card-title card-infos-title">Salary</div>
                                                <div class="card-body card-infos">
                                                    <div class="row align-items-center justify-content-center">
                                                        N/A
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body bg-white text-dark card-appliance-timeline">
                                <div class="container">
                                    {% timeline_appliance appliance %}
                                </div>
                            </div>

                        </div>

                        <div class="card-footer bg-white text-dark card-appliance-footer">
                            <div class="col-12 btn-group" role="group" aria-label="Appliance button group">
                                {% comment %} {% add_to_company_btn company user %} {% endcomment %}
                                {% form_edit_appliance appliance %}
                                {% form_add_task user appliance %}
                                {% comment %} {% form_delete_company company user %} {% endcomment %}
                            </div>
                        </div>
                    </div>

                </div>

                {% modal_appliance appliance %}

            {% endfor %}
        </div>

{% endblock  %}

{% block scripts %}

    <script src="{% static 'appliances/js/appliances.js' %}"></script>
    <script src="{% static 'appliances/js/load_charts.js' %}"></script>
    <script src="{% static 'appliances/js/checkbox_task.js' %}"></script>
    <script src="{% static 'appliances/js/add_task_to_list.js' %}"></script>

    {% for appliance in appliances %}

        <script>

            let notationsCtx_{{appliance.pk}} = document.getElementById("notationsChart_{{appliance.pk}}").getContext("2d");
            let notationsChart_{{appliance.pk}} = new Chart(notationsCtx_{{appliance.pk}}, {
                type: "bar",
                options: {
                    responsive: true
                }
            });

            loadChart(notationsChart_{{appliance.pk}}, '/appliances/notation_chart/{{appliance.pk}}');

        </script>
    {% endfor %}

{% endblock  %}