{% extends 'base/base.html' %}
{% load static %}
{% load tags_appliances %}

{% block title %}Appliances{% endblock  %}
{% block app_title %}My appliances{% endblock  %}

{% block content %}

    <!-- List companies -->
    <!-- TODO : Convert in Bootstrap cards -->
    <div class="container-fluid">
        <div class="row">
            {% for appliance in appliances %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <!-- Card Appliance -->
                    <div class="card card-appliance my-2">
                        <div class="card-body">
                            <div class="row align-items-center card-title">
                                <h5 class="col-8 appliance-item">{{ appliance.company.name }} - {{ appliance.company.city }}</h5>
                                <div class="col-4 btn-group" role="group" aria-label="Appliance button group">
                                    {% comment %} {% add_to_company_btn company user %} {% endcomment %}
                                    {% form_edit_appliance appliance %}
                                    {% comment %} {% form_delete_company company user %} {% endcomment %}
                                </div>
                            </div>
                        </div>
                        {% comment %} <ul class="list-group list-group-flush card-missions">
                        {% for mission in missions %}
                            {% if mission.company == company %}
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-10 mission-item">{{ mission.title }}</div>
                                            <div class="col-2">{% form_delete_mission mission.title company.pk user %}</div>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul> {% endcomment %}

                        {% comment %} <div class="card-footer">
                        </div> {% endcomment %}
                    </div>


                </div>
            {% endfor %}
        </div>


{% endblock  %}

{% block scripts %}
    <script src="{% static 'appliances/js/appliances.js' %}"></script>
{% endblock  %}