{% load crispy_forms_tags %}

<button type="button" class="btn btn-info edit-appliance" data-toggle="modal" data-target="#modal_edit_appliance_{{ edit_appliance_form.appliance_pk.value }}"><i class="fas fa-pencil-alt" aria-hidden="true"></i></button>

<div class="modal fade modal-edit-appliance text-dark" id="modal_edit_appliance_{{ edit_appliance_form.appliance_pk.value }}" tabindex="-1" role="dialog" aria-labelledby="modal_edit_applianceLabel_{{ edit_appliance_form.appliance_pk.value }}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_edit_applianceLabel_{{ edit_appliance_form.appliance_pk.value }}">{{ appliance.company.name }} - {{ appliance.company.city }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- Form edit appliance -->
            <form method="post" action={% url 'edit_appliance' %} class="edit_form_appliance" >
                {% csrf_token %}
                {{ edit_appliance_form.appliance_pk.as_hidden }}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <div class="row">
                                <div class="col">
                                    {{ edit_appliance_form.status|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 form-group mb-3">
                                    <label for="id_estimated_salary" class="form-label">Estimated salary</label>
                                    {{ edit_appliance_form.estimated_salary }}
                                </div>
                                <div class="col-6 form-group mb-3">
                                    <label for="id_proposed_salary" class="form-label">Proposed salary</label>
                                    {{ edit_appliance_form.proposed_salary }}
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                    <th scope="col" class="text-center"></th>
                                    <th scope="col" class="text-center"></th>
                                    <th scope="col" class="text-center">N/A</th>
                                    <th scope="col" class="text-center">BAD</th>
                                    <th scope="col" class="text-center">POOR</th>
                                    <th scope="col" class="text-center">MEDIUM</th>
                                    <th scope="col" class="text-center">GOOD</th>
                                    <th scope="col" class="text-center">EXCELLENT</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="text-center">
                                            {{ edit_appliance_form.environment_notation.label }}
                                        </th>
                                        <td class="text-center">
                                            <button type="button"
                                                    class="btn btn-secondary btn-circle-s ButtonEnvironmentPopover"
                                                    id="ButtonEnvironmentPopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                    data-toggle="popover"
                                                    title="Environment details"
                                                    >
                                                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                                            </button>
                                            <div class="popoverContent"
                                                id="ContentEnvironmentPopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                style="display: none !important">
                                                <div class="input-group">
                                                    {{ edit_appliance_form.environment_details }}
                                                    <button class="btn btn-outline-primary" type="button">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        {% for radio in edit_appliance_form.environment_notation %}
                                        <td class="text-center">
                                            <div class="form-check-inline">
                                                {{ radio.tag }}
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">
                                            {{ edit_appliance_form.values_notation.label }}
                                        </th>
                                        <td class="text-center">
                                            <button type="button"
                                                    class="btn btn-secondary btn-circle-s ButtonValuesPopover"
                                                    id="ButtonValuesPopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                    data-toggle="popover"
                                                    title="Values details"
                                                    >
                                                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                                            </button>
                                            <div class="popoverContent"
                                                id="ContentValuesPopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                style="display: none !important">
                                                <div class="input-group">
                                                    {{ edit_appliance_form.values_details }}
                                                    <button class="btn btn-outline-primary" type="button">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        {% for radio in edit_appliance_form.values_notation %}
                                        <td class="text-center">
                                            <div class="form-check-inline">
                                                {{ radio.tag }}
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">
                                            {{ edit_appliance_form.evolution_notation.label }}
                                        </th>
                                        <td class="text-center">
                                            <button type="button"
                                                    class="btn btn-secondary btn-circle-s ButtonEvolutionPopover"
                                                    id="ButtonEvolutionPopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                    data-toggle="popover"
                                                    title="Evolution details"
                                                    >
                                                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                                            </button>
                                            <div class="popoverContent"
                                                id="ContentEvolutionPopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                style="display: none !important">
                                                <div class="input-group">
                                                    {{ edit_appliance_form.evolution_details }}
                                                    <button class="btn btn-outline-primary" type="button">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        {% for radio in edit_appliance_form.evolution_notation %}
                                        <td class="text-center">
                                            <div class="form-check-inline">
                                                {{ radio.tag }}
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">
                                            {{ edit_appliance_form.knowledge_notation.label }}
                                        </th>
                                        <td class="text-center">
                                            <button type="button"
                                                    class="btn btn-secondary btn-circle-s ButtonKnowledgePopover"
                                                    id="ButtonKnowledgePopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                    data-toggle="popover"
                                                    title="Knowledge details"
                                                    >
                                                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                                            </button>
                                            <div class="popoverContent"
                                                id="ContentKnowledgePopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                style="display: none !important">
                                                <div class="input-group">
                                                    {{ edit_appliance_form.knowledge_details }}
                                                    <button class="btn btn-outline-primary" type="button">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        {% for radio in edit_appliance_form.knowledge_notation %}
                                        <td class="text-center">
                                            <div class="form-check-inline">
                                                {{ radio.tag }}
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">
                                            {{ edit_appliance_form.management_notation.label }}
                                        </th>
                                        <td class="text-center">
                                            <button type="button"
                                                    class="btn btn-secondary btn-circle-s ButtonManagementPopover"
                                                    id="ButtonManagementPopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                    data-toggle="popover"
                                                    title="Management details"
                                                    >
                                                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                                            </button>
                                            <div class="popoverContent"
                                                id="ContentManagementPopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                style="display: none !important">
                                                <div class="input-group">
                                                    {{ edit_appliance_form.management_details }}
                                                    <button class="btn btn-outline-primary" type="button">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        {% for radio in edit_appliance_form.management_notation %}
                                        <td class="text-center">
                                            <div class="form-check-inline">
                                                {{ radio.tag }}
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">
                                            {{ edit_appliance_form.advantages_notation.label }}
                                        </th>
                                        <td class="text-center">
                                            <button type="button"
                                                    class="btn btn-secondary btn-circle-s ButtonAdvantagesPopover"
                                                    id="ButtonAdvantagesPopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                    data-toggle="popover"
                                                    title="Advantages details"
                                                    >
                                                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                                            </button>
                                            <div class="popoverContent"
                                                id="ContentAdvantagesPopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                style="display: none !important">
                                                <div class="input-group">
                                                    {{ edit_appliance_form.advantages_details }}
                                                    <button class="btn btn-outline-primary" type="button">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        {% for radio in edit_appliance_form.advantages_notation %}
                                        <td class="text-center">
                                            <div class="form-check-inline">
                                                {{ radio.tag }}
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">
                                            {{ edit_appliance_form.notoriety_notation.label }}
                                        </th>
                                        <td class="text-center">
                                            <button type="button"
                                                    class="btn btn-secondary btn-circle-s ButtonNotorietyPopover"
                                                    id="ButtonNotorietyPopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                    data-toggle="popover"
                                                    title="Notoriety details"
                                                    >
                                                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                                            </button>
                                            <div class="popoverContent"
                                                id="ContentNotorietyPopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                style="display: none !important">
                                                <div class="input-group">
                                                    {{ edit_appliance_form.notoriety_details }}
                                                    <button class="btn btn-outline-primary" type="button">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        {% for radio in edit_appliance_form.notoriety_notation %}
                                        <td class="text-center">
                                            <div class="form-check-inline">
                                                {{ radio.tag }}
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-center">
                                            {{ edit_appliance_form.office_notation.label }}
                                        </th>
                                        <td class="text-center">
                                            <button type="button"
                                                    class="btn btn-secondary btn-circle-s ButtonOfficePopover"
                                                    id="ButtonOfficePopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                    data-toggle="popover"
                                                    title="Office details"
                                                    >
                                                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                                            </button>
                                            <div class="popoverContent"
                                                id="ContentOfficePopover_{{ edit_appliance_form.appliance_pk.value }}"
                                                style="display: none !important">
                                                <div class="input-group">
                                                    {{ edit_appliance_form.office_details }}
                                                    <button class="btn btn-outline-primary" type="button">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        {% for radio in edit_appliance_form.office_notation %}
                                        <td class="text-center">
                                            <div class="form-check-inline">
                                                {{ radio.tag }}
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Edit appliance</button>
            </div>
        </form>
      </div>
    </div>
</div>
