{% load tags_appliances %}

<div class="modal modal-right fade text-dark" id="modal_appliance_{{ appliance.pk }}" tabindex="-1" role="dialog" aria-labelledby="modal_applianceLabel_{{ appliance.pk }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modal_applianceLabel_{{ appliance.pk }}">{{ appliance.company.name }} - {{ appliance.company.city }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body bg-white text-dark">
                <div class="container">

                    <div class="row">
                        <div class="container">
                            <div class="row company-title">Company type{{ appliance.company.type }}</div>
                            <div class="row company-description">Company description{{ appliance.company.description }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-8 justify-content-start">
                                        <i class="fas fa-calendar-week fa-2x"></i>
                                    </div>
                                    <div class="col-4 justify-content-end">
                                        <div class="row">
                                            6{{ appliance.get_events_nb }}
                                        </div>
                                        <div class="row">
                                            Events
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-8 justify-content-start">
                                        <i class="fas fa-medal fa-2x"></i>
                                    </div>
                                    <div class="col-4 justify-content-end">
                                        <div class="row align-items-center">
                                            <span class="mr-3">#1 {{ appliance.get_salary_ranking }}</span><i class="fas fa-euro-sign"></i>
                                        </div>
                                        <div class="row align-items-center">
                                            <span class="mr-3">#3 {{ appliance.get_average_ranking }}</span><i class="fas fa-edit"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-8 justify-content-start">
                                        <i class="fas fa-euro-sign fa-2x"></i>
                                    </div>
                                    <div class="col-4 justify-content-end">
                                        <div class="row">
                                            33{{ appliance.get_events_nb }} k
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for mission in appliance.get_missions %}
                            <div class="col-12 card overflow-auto">
                                <div class="card-title">{{ mission.title }}</div>
                                <div class="card-body">
                                    {% for skill in mission.skills %}
                                        {% card_skill skill %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row align-items-center appliance-modal-chart">
                        <div class="col-7">
                            {% chart_appliance appliance %}
                        </div>
                        <div class="col-5">
                            {% if appliance.environment_details != '' %}
                                <div class="row lead details-lead">Environment</div>
                                <div class="row text-muted details-text">{{ appliance.environment_details }}</div>
                            {% endif %}
                            {% if appliance.values_details != '' %}
                                <div class="row lead details-lead">Values</div>
                                <div class="row text-muted details-text">{{ appliance.values_details }}</div>
                            {% endif %}
                            {% if appliance.evolution_details != '' %}
                                <div class="row lead details-lead">Evolution</div>
                                <div class="row text-muted details-text">{{ appliance.evolution_details }}</div>
                            {% endif %}
                            {% if appliance.knowledge_details != '' %}
                                <div class="row lead details-lead">Knowledge</div>
                                <div class="row text-muted details-text">{{ appliance.knowledge_details }}</div>
                            {% endif %}
                            {% if appliance.management_details != '' %}
                                <div class="row lead details-lead">Management</div>
                                <div class="row text-muted details-text">{{ appliance.management_details }}</div>
                            {% endif %}
                            {% if appliance.advantages_details != '' %}
                                <div class="row lead details-lead">Advantages</div>
                                <div class="row text-muted details-text">{{ appliance.advantages_details }}</div>
                            {% endif %}
                            {% if appliance.notoriety_details != '' %}
                                <div class="row lead details-lead">Notoriety</div>
                                <div class="row text-muted details-text">{{ appliance.notoriety_details }}</div>
                            {% endif %}
                            {% if appliance.office_details != '' %}
                                <div class="row lead details-lead">Office</div>
                                <div class="row text-muted details-text">{{ appliance.office_details }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Edit appliance</button>
            </div>

        </div>
    </div>
</div>
