{% load tags_appliances %}

<div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
    {% for event in appliance.get_events %}
        <div class="vertical-timeline-item vertical-timeline-element">
            <div> <span class="vertical-timeline-element-icon bounce-in"> <i class="badge badge-timeline {% badge_event event %}"></i> </span>
                <div class="vertical-timeline-element-content bounce-in">
                    <div class="timeline-title">{{ event.title }}</div>
                    <p>{{ event.description }}</p> <span class="vertical-timeline-element-date">{{ event.date }}</span>
                </div>
            </div>
        </div>

    {% empty %}
        <div class="vertical-timeline-item vertical-timeline-element">
            <div> <span class="vertical-timeline-element-icon bounce-in"></span>
                <div class="vertical-timeline-element-content bounce-in">
                    <div class="timeline-title">No events to show</div>
                </div>
            </div>
        </div>

    {% endfor %}
</div>
